<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Learn More: Deepshield</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Template Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">

    <!-- Template CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/circle.css" rel="stylesheet">
    <link href="/static/css/fm.revealator.jquery.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/preloader.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- CSS Skin File -->
    <link href="/static/css/skin.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/img/logo_rbg.png" type="image/x-icon">

    <!-- Live Style Switcher - demo only -->

    <link rel="stylesheet" type="text/css" href="/static/css/styleswitcher.css" />

    <!-- Modernizr JS File -->
    <script src="/static/js/modernizr.custom.js"></script>
    <style>
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            margin: 0;
        }
    </style>
</head>

<body class="portfolio">
    <header class="header" id="navbar-collapse-toggle">
        <!-- Fixed Navigation Starts -->
        <ul class="icon-menu d-none d-lg-block revealator-slideup revealator-once revealator-delay1">
            <li class="icon-box">
                <i class="fa fa-home"></i>
                <a href="index.html">
                    <h2>Home</h2>
                </a>
            </li>
            <li class="icon-box active">
                <i class="fa fa-leaf"></i>
                <a href="about.html">
                    <h2>About</h2>
                </a>
            </li>
            <li class="icon-box">
                <i class="fa fa-search"></i> <!--red-->
                <a href="deepfake.html">
                    <h2>DETECT</h2>
                </a>
            </li>
            <li class="icon-box">
                <i class="fa fa-link"></i> <!--red-->
                <a href="blogs.html">
                    <h2>BLOGS</h2>
                </a>
            </li>
            <!-- <li class="icon-box">
                <i class="fa fa-user"></i> Mood Tracker
                <a href="mood_tracker.html">
                    <h2>TEAM</h2>
                </a>
            </li> -->
            <!-- <li class="icon-box">
                <i class="fa fa-check-circle-o"></i>
                <i class="fa fa-calendar"></i>
                <a href="cycle_tracker.html">
                    <h2>Cycle_Tracker</h2>
                </a>
            </li> -->
            <!-- <li class="icon-box">
                <i class="fa fa-medkit"></i>
                <a href="contact_doctor.html">
                    <h2>Contact_doctor</h2>
                </a>
            </li> -->
            <!-- <li class="icon-box">
                <i class="fa fa-link"></i>
                <a href="blogs.html">
                    <h2>Blogs</h2>
                </a>
            </li> -->
            <!-- <li class="icon-box">
                <i class="fa fa-user"></i>
                <a href="meet_the_team.html">
                    <h2>Meet_The_Team</h2>
                </a>
            </li> -->

        </ul>
        <!-- Fixed Navigation Ends -->
        <!-- Mobile Menu Starts -->
        <nav role="navigation" class="d-block d-lg-none">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul class="list-unstyled" id="menu">
                    <li><a href="index.html"><i class="fa fa-home"></i><span>Home</span></a></li>
                    <li class='active'><a href="about.html"><i class="fa fa-pagelines"></i><span>About</span></a></li>
                    <!-- <li><a href="red.html"><i class="fa fa-child"></i><span>RED</span></a></li> -->
                    <li><a href="deepfake.html"><i class="fa fa-search"></i><span>Detect</span></a></li>
                    <!-- <li><a href="mood_tracker.html"><i class="fa fa-star"></i><span>Mood Tracker</span></a> -->
                    </li>
                    <!-- <li><a href="cycle_tracker.html"><i class="fa fa-calendar"></i><span>Cycle Tracker</span></a></li> -->
                    <!-- <li><a href="contact_doctor.html"><i class="fa fa-medkit"></i><span>Contact Doctor</span></a></li> -->
                    <li><a href="blogs.html"><i class="fa fa-link"></i><span>Blogs</span></a>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- Mobile Menu Ends -->
    </header>
    <!-- Header Ends -->
    <!-- Page Title Starts -->
    <!-- Header Ends -->
    <!-- Page Title Starts -->
    <section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
        <h1>Learn <span> More</span></h1>
        <span class="title-bg">Deepshield</span>
        <!-- <h3>get Fit to the Beat</h3> -->
    </section>
    <section class="main-content revealator-slideup revealator-once text-center revealator-delay1 textCss"  style="margin-left: 70px; margin-right: 100px;"><h5>Welcome to
        DeepShield – your trusted digital guardian in the fight against image manipulation.

In an era where visual misinformation is widespread, DeepShield stands as a powerful ally, helping users determine the authenticity of images with cutting-edge technology. Our platform employs advanced deep learning models to classify images as real or fake with high precision. But we go beyond mere classification—if an image is identified as fake, DeepShield provides detailed artifact analysis, highlighting manipulated regions and exposing subtle inconsistencies that may go unnoticed by the human eye.

Designed for journalists, researchers, content creators, and everyday users, DeepShield offers an intuitive and seamless experience, allowing users to upload images for instant analysis. Our platform integrates AI-driven insights with explainable results, ensuring transparency in digital forensics. Whether you're verifying media content, detecting synthetic imagery, or safeguarding against misinformation, DeepShield equips you with the tools to make informed decisions.

Join our community of truth-seekers and explore the depths of digital authenticity with DeepShield—where technology meets trust.
    </h5></section>

    <section class="main-content text-center revealator-slideup revealator-once revealator-delay1">
        <h1><u> Features </u></h1>
    </section>

    <section class="main-content text-center revealator-slideup revealator-once revealator-delay1">
        <div id="grid-gallery" class="container grid-gallery">
            <section class="grid-wrap">
                <ul class="row grid">
                    <div class="col-md-50 col-sm-50">
                        <li>
                            <figure>
                                <img src="/static/img/red.gif" alt="Deepfake Detector" />
                                <div><span>Detect Deepfakes</span></div>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="/static/img/mood_tracker.gif" alt="Detect Artifacts" />
                                <div><span>Detect Artifacts</span></div>
                            </figure>
                        <li>
                            <figure>
                                <img src="/static/img/ovaquest.gif" alt="Learn More" />
                                <div><span>Learn more</span></div>
                            </figure>
                        </li>

                        </li>
                        <!-- <li>
                            <figure>
                                <img src="/static/img/cycle_tracker.jpg" alt="OvaQuest" />
                                <div><span>Cycle Tracker</span></div>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="/static/img/blog_logo.gif" alt="OvaQuest" />
                                <div><span>Blogs</span></div>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="/static/img/contact_doctor.gif" alt="OvaQuest" />
                                <div><span>Contact the Doctor</span></div>
                            </figure>
                        </li> -->


                </ul>
            </section>
            <!-- Portfolio Grid Ends -->
            <!-- Portfolio Details Starts -->
            <section class="slideshow">
                <ul>                    <li>
                    <figure>
                        <!-- Project Details Starts -->
                        <figcaption>
                            <h3><u>Detect Deepfakes</u></h3>
                            <center>
                                <h5><i>Exposing Deepfakes, Protecting Truth, and Empowering Digital Trust</i></h5>
                            </center><br><br>
                            <!-- <center>
                                <h4><b><u>INSTRUCTIONS</u></b></h4>
                            </center> -->

                            <div class="row open-sans-font">
                                In today's digital world, manipulated images and deepfakes are becoming increasingly sophisticated, making it harder to distinguish between real and fake content. This poses serious risks, from spreading misinformation and damaging reputations to influencing public opinion and enabling fraud. Identifying and exposing deepfakes is crucial to preserving trust in digital media, safeguarding authenticity, and ensuring that truth prevails in an era of AI-generated deception. DeepShield empowers users with cutting-edge technology to detect fake images and analyze manipulations, providing transparency in a world where seeing is no longer believing.
                            </div><br><br>
                            

                </li>
                <li>
                    <figure>
                        <!-- Project Details Starts -->
                        <figcaption>
                            <h3><u>Detect Artifacts</u></h3>
                            <center>
                                <h5><i>Exposing the unseen—detecting deepfake artifacts with precision</i></h5>
                            </center><br><br>
                            <!-- <center> -->
                                <!-- <h4><b><u>INSTRUCTIONS</u></b></h4> -->
                            <!-- </center> -->

                            <div class="row open-sans-font">
                                Deepfakes may deceive the eye, but hidden artifacts reveal the truth. Using advanced AI-driven analysis, our technology uncovers subtle inconsistencies, distortions, and manipulations that expose digital forgeries. From pixel-level anomalies to unnatural lighting and texture mismatches, we detect the invisible clues that signal tampering. Stay ahead of deception—let our system reveal what’s real and what’s not.
                            </div><br><br>
                            

                </li>
                <li>
                    <figure>
                        <!-- Project Details Starts -->
                        <figcaption>
                            <h3><u>Learn More about Deepfakes</u></h3>
                            <center>
                                <h5><i>Understand deepfakes, identify deception, and take action</i></h5>
                            </center><br><br>
                            <!-- <center>
                                <h4><b><u>INSTRUCTIONS</u></b></h4>
                            </center> -->

                            <div class="row open-sans-font">
                                Deepfakes are becoming increasingly sophisticated, blurring the line between reality and manipulation. Learning how they are created, identified, and countered is essential in today’s digital world. Our platform provides in-depth insights into deepfake technology, helping users recognize telltale signs of forgery through AI-powered detection techniques. Beyond identification, we guide you on the next steps—whether it’s verifying sources, reporting misinformation, or protecting yourself from digital deception. Stay informed, stay vigilant, and take control in the fight against synthetic media.
                            </div><br><br>
                            

                </li>
                    <li>
                        <figure>
                            <!-- Project Details Starts -->
                            <figcaption>
                                <h3><u>OvaQuest</u></h3>
                                <center>
                                    <h5><i>Jump, Slide, and Pose Your Way to Subway Mastery!</i></h5>
                                </center><br><br>
                                <center>
                                    <h4><b><u>INSTRUCTIONS</u></b></h4>
                                </center>

                                <div class="row open-sans-font">
                                    Welcome to "Pose Surfers" - an exhilarating game that takes the popular Subway
                                    Surfers experience to a whole new level! Get ready to immerse yourself in the subway
                                    world and control your character with your body movements. Use your hands to jump,
                                    crouch, and swipe left or right to avoid obstacles. Move your legs to simulate
                                    running or sliding motions. Feel the adrenaline rush as you navigate through the
                                    bustling subway while showcasing your agility and reflexes. Stay alert, react
                                    swiftly, and aim for a high score. Get on board and let your body do the surfing!
                                    Are you up for the challenge? Let's start the motion madness!
                                </div><br><br>
                                

                    </li>
                    <li>
                        <figure>
                            <!-- Project Details Starts -->
                            <figcaption>
                                <h3><u>OvaQuest</u></h3>
                                <center>
                                    <h5><i>Jump, Slide, and Pose Your Way to Subway Mastery!</i></h5>
                                </center><br><br>
                                <center>
                                    <h4><b><u>INSTRUCTIONS</u></b></h4>
                                </center>

                                <div class="row open-sans-font">
                                    Welcome to "Pose Surfers" - an exhilarating game that takes the popular Subway
                                    Surfers experience to a whole new level! Get ready to immerse yourself in the subway
                                    world and control your character with your body movements. Use your hands to jump,
                                    crouch, and swipe left or right to avoid obstacles. Move your legs to simulate
                                    running or sliding motions. Feel the adrenaline rush as you navigate through the
                                    bustling subway while showcasing your agility and reflexes. Stay alert, react
                                    swiftly, and aim for a high score. Get on board and let your body do the surfing!
                                    Are you up for the challenge? Let's start the motion madness!
                                </div><br><br>
                                

                    </li>
                    <li>
                        <figure>
                            <!-- Project Details Starts -->
                            <figcaption>
                                <h3><u>OvaQuest</u></h3>
                                <center>
                                    <h5><i>Jump, Slide, and Pose Your Way to Subway Mastery!</i></h5>
                                </center><br><br>
                                <center>
                                    <h4><b><u>INSTRUCTIONS</u></b></h4>
                                </center>

                                <div class="row open-sans-font">
                                    Welcome to "Pose Surfers" - an exhilarating game that takes the popular Subway
                                    Surfers experience to a whole new level! Get ready to immerse yourself in the subway
                                    world and control your character with your body movements. Use your hands to jump,
                                    crouch, and swipe left or right to avoid obstacles. Move your legs to simulate
                                    running or sliding motions. Feel the adrenaline rush as you navigate through the
                                    bustling subway while showcasing your agility and reflexes. Stay alert, react
                                    swiftly, and aim for a high score. Get on board and let your body do the surfing!
                                    Are you up for the challenge? Let's start the motion madness!
                                </div><br><br>
                                

                    </li>
                </ul>
                <!-- Portfolio Navigation Starts -->
                <nav>
                    <span class="icon nav-prev"><img src="/static/img/left-arrow.png" alt="previous"></span>
                    <span class="icon nav-next"><img src="/static/img/right-arrow.png" alt="next"></span>
                    <!-- Your HTML code with the close button -->
                    <span class="nav-close" id="closeButton"><img src="/static/img/close-button.png" alt="close"></span>

                    <!-- JavaScript code to handle the click event and navigate to 'games.html' -->
                    <script>
                        // Get the close button element by its ID
                        var closeButton = document.getElementById('closeButton');

                        // Add a click event listener to the close button
                        closeButton.addEventListener('click', function () {
                            // Redirect to 'games.html' when the button is clicked
                            window.location.href = 'about.html';
                        });
                    </script>
                </nav>
                <!-- Portfolio Navigation Ends -->
            </section>
        </div>
    </section>
    <!-- Main Content Ends -->

    <!-- Template JS Files -->
    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script src="/static/js/styleswitcher.js"></script>
    <script src="/static/js/preloader.min.js"></script>
    <script src="/static/js/fm.revealator.jquery.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpGridGallery.js"></script>
    <script src="/static/js/jquery.hoverdir.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/custom.js"></script>

</body>

</html>